fastapi
uvicorn[standard]
pydantic
nltk 
pandas[parquet] 
requests 
scikit-learn 
scipy 
statsmodels 
pyparsing 
markdown 
werkzeug 
wrapt 
attrs 
sortedcontainers
python-jose[cryptography]
pymysql
bcrypt
sargon2-cffi
